{# empty Twig template #}
{% extends "base.html.twig" %}
{% block title %}Nuevo Sector{% endblock %}
{% block body %}
    {{ form(form) }}
    <a class="button" href="{{ path('sector_showAll') }}">Volver</a>
{% endblock %}
